[submodule "third_party/plotcpp"]
	path = third_party/plotcpp
	url = https://github.com/Kolkir/plotcpp.git
[submodule "third_party/mshadow"]
	path = third_party/mshadow
	url = https://github.com/dmlc/mshadow.git
[submodule "third_party/fast-cpp-csv-parser"]
	path = third_party/fast-cpp-csv-parser
	url = https://github.com/ben-strasser/fast-cpp-csv-parser.git
[submodule "third_party/xtl"]
	path = third_party/xtl
	url = https://github.com/QuantStack/xtl.git
[submodule "third_party/xtensor"]
	path = third_party/xtensor
	url = https://github.com/QuantStack/xtensor.git
[submodule "third_party/xtensor-blas"]
	path = third_party/xtensor-blas
	url = https://github.com/QuantStack/xtensor-blas
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
